<link rel="stylesheet" href="./portfolio.component.css" />
<section class="profile-area pt-5 pb-5">
  <div class="container">
    <div class="row d-flex justify-content-around">

      <div class="col-md-6 col-lg-5 col-xl-5 col-xxl-5">
        <div class="card" style="box-sizing: 0 0 30px rgba(0,0,0.5); overflow: hidden; border-radius: 15px;">

          <div style="background-color: rgb(99, 148, 223)">
            <div class="w-100"
              style="height: 200px; border-top-right-radius: 15px; border-top-left-radius: 15px;">
            </div>
          </div>

          <div class="img2 position-relative mx-auto">
            <img
              style="display: block; z-index: 1; width: 140px; height: 140px; border-radius: 50%; border: 7px solid #fff; margin-top: -80px;"
              src="../../../assets/portraits/paolo-portrait.jpg"
              routerLink="../portfolio-paolo"
              alt="">
          </div>

          <div class="main-text" style="padding: 30px 0; text-align: center;">
            <h2 routerLink="../portfolio-paolo" style="text-transform: uppercase; font-weight: 900; font-size: 20px; margin: 0 0 20px;">Paolo Gippa</h2>
            <p style="font-size: 16px; padding: 0 35px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt
              ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum."</p>
          </div>
          <button type="button" routerLink="../portfolio-paolo" class="btn btn-primary mb-5 mx-auto">Details</button>
          <div class="socials text-center" style="padding-bottom: 20px;">
            <i class="fa fa-facebook" style="font-size: 20px; color: darkcyan; padding: 0 10px;"></i>
            <i class="fa fa-linkedin" style="font-size: 20px; color: darkcyan; padding: 0 10px;"></i>
            <i class="fa fa-instagram" style="font-size: 20px; color: darkcyan; padding: 0 10px;"></i>
            <i class="fa fa-github" style="font-size: 20px; color: darkcyan; padding: 0 10px;"></i>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 col-xl-5 col-xxl-5 mt-5 mt-md-0">
        <div class="card" style="box-sizing: 0 0 30px rgba(0,0,0.5); overflow: hidden; border-radius: 15px;">

          <div style="background-color: rgb(221, 197, 178)">
            <div class="w-100" style="height: 200px; border-top-right-radius: 15px; border-top-left-radius: 15px;">
            </div>
          </div>

          <div class="img2 position-relative mx-auto">
            <img
              style="display: block; z-index: 1; width: 140px; height: 140px; border-radius: 50%; border: 7px solid #fff; margin-top: -80px;"
              src="../../../assets/portraits/ale-portrait.jpeg"
              routerLink="../portfolio-alessandro"
              alt="">
          </div>
          <div class="main-text" style="padding: 30px 0; text-align: center;">
            <h2 routerLink="../portfolio-alessandro" style="text-transform: uppercase; font-weight: 900; font-size: 20px; margin: 0 0 20px;">Alessandro
              Zaza
            </h2>
            <p style="font-size: 16px; padding: 0 35px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt
              ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit
              anim id est laborum."</p>
          </div>
          <button type="button" routerLink="../portfolio-alessandro"
            class="btn btn-primary mb-5 mx-auto">Details</button>
          <div class="socials text-center" style="padding-bottom: 20px;">
            <i class="fa fa-facebook" style="font-size: 20px; color: darkcyan; padding: 0 10px;"></i>
            <i class="fa fa-linkedin" style="font-size: 20px; color: darkcyan; padding: 0 10px;"></i>
            <i class="fa fa-instagram" style="font-size: 20px; color: darkcyan; padding: 0 10px;"></i>
            <i class="fa fa-github" style="font-size: 20px; color: darkcyan; padding: 0 10px;"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>