<section>

    <div class="d-flex justify-content-end flex-column"
        style=" min-height: 40vh; background-image: url('../../../assets/background/about-us.jpg'); background-size: cover; background-repeat: no-repeat;">
        <hr class="border border-light w-50">
        <p class="display-3 ms-3 ms-md-5 text-light">what about us?</p>
    </div>

</section>
<section class="d-flex flex-column" style="background-color: #C1E0EA">
    <div class="rounded-5 bg-body-tertiary p-2 pt-4 p-sm-4 p-md-5 mt-4 m-sm-4 m-md-5">
        <div class="text-dark position-relative mx-4 d-flex flex-column justify-content-end ">
            <h2 class="position-absolute end-0 top-0"> Who we are? </h2>
            <hr class="mt-5">

            <!-- <h1>{{ aboutData?.title }}</h1>
            <p>{{ aboutData?.description }}</p>
            <p>{{ aboutData?.location }}</p>

            <input type="text" [(ngModel)]="newTitle"> -->
            <!-- <button (click)="updateTitle()">Update Title</button> -->



            <p class="text-end">Siamo Alessandro e Paolo, due appassionati di informatica che hanno conseguito il corso
                di specializzazione all'ITS ICT Piemonte. Creiamo siti web personalizzati e su misura per ogni cliente,
                utilizzando le ultime tecnologie e seguendo le migliori pratiche del settore. Contattateci per avere un
                preventivo personalizzato e raggiungere i vostri obiettivi online!</p>
        </div>
    </div>
    <div class="rounded-5 bg-body-tertiary p-2 pt-4 p-sm-4 p-md-5 my-4 m-sm-4 m-md-5 mt-md-0">
        <div class="text-dark position-relative mx-4 d-flex flex-column justify-content-end ">
            <h2 class="position-absolute top-0"> Where do we come from? </h2>
            <hr class="mt-5">
            <p class="text-start">Siamo Alessandro e Paolo, due appassionati di informatica che hanno conseguito il
                corso di specializzazione all'ITS ICT Piemonte. Creiamo siti web personalizzati e su misura per ogni
                cliente, utilizzando le ultime tecnologie e seguendo le migliori pratiche del settore. Contattateci per
                avere un preventivo personalizzato e raggiungere i vostri obiettivi online!</p>
        </div>
    </div>
</section>