<link rel="stylesheet" href="./portfolio-prova-paolo.component.css" />
<section style="border: solid purple">
  <div class="d-flex justify-content-center" style="border: solid red">
    <div class="d-flex flex-column w-50 align-items-start pt-5 ps-4 mt-5">
      <p class="display-2 ms-5">I'm Paolo Gippa</p>
      <hr class="w-50 ms-5" />
      <p class="ms-5 text-start w-50">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum."
      </p>
    </div>

    <div
      class="col-md-6 col-lg-5 col-xl-5 col-xxl-5 mt-5 w-25"
      style="height: 35vh"
    >
      <div class="img2 position-relative mx-auto">
        <img
          style="
            position: absolute;
            top: 0%;
            display: block;
            z-index: 1;
            width: 35vh;
            height: 35vh;
            border-radius: 50%;
            background-color: rgb(99, 148, 223);
            margin-top: 0px;
          "
          src="../../../assets/portraits/paolo-portrait.jpg"
          routerLink="../portfolioProva-paolo"
          alt=""
        />

        <div
          style="
            position: absolute;
            z-index: 0;
            top: 0%;
            left: 60.5%;
            width: 25vh;
            height: 25vh;
            border-radius: 50%;
            border: 7px solid rgb(221, 197, 178);
            background-color: rgb(221, 197, 178);
          "
        >
          <img
            style="
              position: absolute;
              top: -3%;
              left: -3%;
              display: block;
              z-index: 1;
              width: 25vh;
              height: 25vh;
              border-radius: 50%;
            "
            src="../../../assets/portraits/portrait-ale-nobg.png"
            routerLink="../portfolio-alessandro"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <button
      type="button"
      routerLink="../portfolio-alessandro"
      class="btn btn-primary mb-5 mx-auto"
    >
      Go to Alessandro
    </button>
  </div>

  <div
    class="container text-center"
    style="border: solid orange; margin-top: 5rem"
  >
    <h1 class="text-dark">My Projects</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../assets/img-projects/drink-project.png"
            class="card-img-top"
            alt="drink-project"
            style="height: 16rem"
          />
          <div class="card-body">
            <h5 class="card-title">Angular Drink-App</h5>
            <p class="card-text">
              Project Goal: via API call, display a database of drinks on the
              screen where you can search for: the correct name of the drink
              (also by ingredient), its ingredients and include them in a cart
              shop.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >Paolo Silvio Vittorio Gippa 2023 &copy; &reg;</small
            >
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card h-100">
          <img
            src="../../../assets/img-projects/tv-maze-1.jpg"
            class="card-img-top"
            alt="drink-project"
            style="height: 16rem"
          />
          <div class="card-body">
            <h5 class="card-title">React Tv-Maze-App</h5>
            <p class="card-text">
              Project Goal: via API call, display on screen a Netflix-style page
              where you can search for a specific movie title with its
              details(plot, release year) and save it in the Favorites section.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >Paolo Silvio Vittorio Gippa 2023 &copy; &reg;</small
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../assets/img-projects/weather-app.png"
            class="card-img-top"
            alt="weather-app-project"
            style="height: 16rem"
          />
          <div class="card-body">
            <h5 class="card-title">Angular Weather-App</h5>
            <p class="card-text">
              Project Goal: via API call, display on the screen a search page
              where you can type the name of the city where you want to know the
              weather news, or you can always search for the city you want by
              entering the latitude and longitude directly.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >Paolo Silvio Vittorio Gippa 2023 &copy; &reg;</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
