/*Style for background*/

section {
  width: 100%;
  background: linear-gradient(45deg, #3f84e5, #f0e2e7, #b20d30);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/*Palette1: 45deg, #3f84e5, #f0e2e7, #b20d30*/
/*Palette2: 45deg, #c33c54, #254e70, #37718e*/
/*Palette3: 45deg, #e8b423, #00229c, #c3cceb*/
