<section class="py-5 d-flex justify-content-center align-items-center">

    <div class="card col-8 col-xxl-6 mx-5 p-5">
        <div class="d-flex">
            <img class="me-5 border border-3 border-dark" style="
          width: 15h;
          height: 15vh;
          border-radius: 50%;
          background-color: rgb(221, 197, 178);
        " src="{{pfp}}" alt="user-photo" />


            <div class="d-flex flex-column justify-content-center col-5">
                <p class="display-6 fs-3 mb-0" style="font-weight: 400">WELCOME <span><strong>{{name}}</strong></span>
                    ! </p>
                <hr class="col-12 ">
                <p class="display-6 fs-6" style="font-weight: 400">e-mail logged with:
                    <span><strong>{{email}}</strong></span>
                </p>
                <button type="button" routerLink="/login" (click)="logout()" class="btn btn-danger col-xxl-4 mt-2">Logout</button>
            </div>
            <div class="ps-5 ms-5 mt-4">
                <a routerLink="payment-methods" class="nav-link"><button type="button" class="btn btn-primary px-4">your payment methods</button></a>
                <a routerLink="preventivo" class="nav-link"><button type="button" class="btn btn-primary mt-4 px-5">Request a quote</button></a>
            </div>
        </div>
        <img src="../../../assets/logo-paw-icon.png" class="position-absolute z-1 opacity-25 rotate-20"
            style="top: 45%; right: 15%;" width="150" height="130" alt="">
        <div class="d-flex flex-column mt-5 mx-4">
            <p class="fs-5 mb-3"><strong>Personal infos:</strong><i class="fa-regular fa-pen-to-square ms-2"></i></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: <span><strong>{{name}}</strong></span></li>
                <li class="list-group-item">Surname: <span><strong>{{lastName}}</strong></span></li>
                <li class="list-group-item">Address: <span><strong>{{address}}</strong></span></li>
                <li class="list-group-item">Phone number: <span><strong>{{phoneNumber}}</strong></span></li>
            </ul>
        </div>
    </div>
    
</section>