<style>
    body {
        background: #0b1d2a;
    }

    .arrows {
        width: 60px;
        height: 72px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: 20px;
    }

    .arrows path {
        stroke: #2994D1;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite;
    }

    @keyframes arrow {
        0% {
            opacity: 0
        }

        40% {
            opacity: 1
        }

        80% {
            opacity: 0
        }

        100% {
            opacity: 0
        }
    }

    @-webkit-keyframes arrow

    /*Safari and Chrome*/
        {
        0% {
            opacity: 0
        }

        40% {
            opacity: 1
        }

        80% {
            opacity: 0
        }

        100% {
            opacity: 0
        }
    }

    .arrows path.a1 {
        animation-delay: -1s;
        -webkit-animation-delay: -1s;
        /* Safari 和 Chrome */
    }

    .arrows path.a2 {
        animation-delay: -0.5s;
        -webkit-animation-delay: -0.5s;
        /* Safari 和 Chrome */
    }

    .arrows path.a3 {
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
        /* Safari 和 Chrome */
    }
</style>

<section class="d-flex flex-column"
    style="height: 100vh; background-image: url('../../../assets/background/background.png'); background-size: cover; background-repeat: no-repeat;">
    <h1 class=" mx-5 mt-5 p-1 pt-5 text-light" style="font-size: 2.8rem; line-height: 3rem;">
        make your <br> <span class="display-1" style="font-size: 4rem;">business </span>  <br><em>grow</em> with us!
    </h1>
    <button type="button" routerLink="../contact" class="btn btn-outline-light btn-rounded w-50 ms-5 mt-3"> Contact Us
    </button>
    <svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg>
</section>

<section class="d-flex flex-column" style="height: 190vh; background-color: rgb(10, 1, 39);">

    <p class="display-3 w-75 ms-4 text-light text-start"> what we are offering: </p>

    <div class="row mx-4">
        <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Sito web statico</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Preventivo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Sito web tramite CMS</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Preventivo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">E-Commerce</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Preventivo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Servizio gestionale</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Preventivo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Servizio IoT</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Preventivo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Servizio AI</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Preventivo</a>
                </div>
            </div>
        </div>
    </div>
</section>