<link rel="stylesheet" href="./home.component.css" />
<section class="d-flex align-items-center"
    style="height: 100vh; background-image: url('../../../assets/background/background.png'); background-size: cover; background-repeat: no-repeat;">

    <section class="d-flex flex-row px-5 ms-5 me-5 justify-content-around card pt-5 pb-5" style="border-radius: 2vh;">
        <div class="text-dark ms-4 pe-5 col-6">
            <p class="display-1 fw-semibold ">PAW-Agency</p>
            <h1 class="fst-italic fw-normal">Make your business <span class="text-success">grow</span> with us</h1>
            <hr class="">
            <p class="" >
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt
                ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum."
            </p>
            <hr class="w-75">
            <p class="lh-1 fw-semibold text-start">
                composed by:
            </p>
            <p class="lh-1 fw-light text-start"> Alessandro Zaza </p>
            <p class="lh-1 fw-light text-start"> Paolo Gippa </p>
            <button type="button" routerLink="../contact" class="btn btn-outline-dark btn-rounded mt-4">
                Contact Us
            </button>
        </div>

        <div class="card ms-5" style="overflow: hidden; border-radius: 2vh;">
            <div>
                <div class="" style="border-top-right-radius: 2vh; border-top-left-radius: 2vh;">
                    <img src="../../../assets/background/home-bg-card.png" alt="">
                </div>
            </div>
        </div>

    </section>

    <svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg>
</section>

<section class="d-flex flex-column pb-5" style="background-color: rgb(10, 1, 39);">

    <p class="display-3 w-75 ms-4 mt-md-5 mx-md-5 text-light text-start"> what we are offering: </p>

    <div class="row mx-4">
        <div class="col-sm-6 col-xl-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Sito web statico</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Request a quote</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Sito web tramite CMS</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Request a quote</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">E-Commerce</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Request a quote</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Servizio gestionale</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Request a quote</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Servizio IoT</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Request a quote</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Servizio AI</h2>
                    <hr class="hr">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="../preventivo" class="btn btn-primary">Request a quote</a>
                </div>
            </div>
        </div>
    </div>
</section>