<link rel="stylesheet" href="./portfolioprovapaolo.component.css" />
<section>
  <div class="col d-flex justify-content-center">
    <div class="d-flex flex-column w-50 align-items-start pt-5 ps-4 mt-5">
      <p class="display-2 ms-6">I'm Paolo Silvio Vittorio Gippa</p>
      <p class="ms-5 text-start w-50">
        Hi Everyone, i'm a junior front end web developer. I
        consider myself a very active person and willing to take on every new
        challenge!
      </p>
    </div>
    <div
      class="col-md-6 col-lg-5 col-xl-5 col-xxl-5 mt-5 w-25"
      style="height: 40vh"
    >
      <div class="container my-5">
        <div class="position-relative img-fluid">
          <img
            style="
              position: absolute;
              top: 0%;
              display: block;
              z-index: 1;
              width: 35vh;
              height: 35vh;
              border-radius: 50%;
              background-color: rgb(99, 148, 223);
              margin-top: 0px;
            "
            src="../../../assets/portraits/paolo-portrait.jpg"
            routerLink="../portfolio-paolo"
            alt=""
          />

          <div
            style="
              position: absolute;
              z-index: 0;
              top: 0%;
              left: 60.5%;
              width: 25vh;
              height: 25vh;
              border-radius: 50%;
              border: 7px solid rgb(221, 197, 178);
              background-color: rgb(221, 197, 178);
            "
          >
            <img
              style="
                position: absolute;
                top: -3%;
                left: -3%;
                display: block;
                z-index: 1;
                width: 25vh;
                height: 25vh;
                border-radius: 50%;
              "
              src="../../../assets/portraits/portrait-ale-nobg.png"
              routerLink="../portfolio-alessandro"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center" style="margin-top: 5rem">
    <h1 class="text-dark" style="font-family: fantasy">My Projects</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../assets/img-projects/drink-project.png"
            class="card-img-top"
            alt="drink-project"
            style="height: 16rem"
          />
          <div class="card-body">
            <h5 class="card-title">Angular Drink-App</h5>
            <p class="card-text">
              Project Goal: via API call, display a database of drinks on the
              screen where you can search for: the correct name of the drink
              (also by ingredient), its ingredients and include them in a cart
              shop.
            </p>
            <a
              href="https://github.com/PaoloGippa/its-angular-1"
              target="_blank"
              ><p class="card-text">Go to github</p></a
            >
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >Paolo Silvio Vittorio Gippa 2023 &copy; &reg;</small
            >
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card h-100">
          <img
            src="../../../assets/img-projects/tv-maze-1.jpg"
            class="card-img-top"
            alt="drink-project"
            style="height: 16rem"
          />
          <div class="card-body">
            <h5 class="card-title">React Tv-Maze-App</h5>
            <p class="card-text">
              Project Goal: via API call, display on screen a Netflix-style page
              where you can search for a specific movie title with its
              details(plot, release year) and save it in the Favorites section.
            </p>
            <a
              href="https://github.com/PaoloGippa/tvmaze-esame-gippa"
              target="_blank"
              ><p class="card-text">Go to github</p></a
            >
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >Paolo Silvio Vittorio Gippa 2023 &copy; &reg;</small
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../assets/img-projects/weather-app.png"
            class="card-img-top"
            alt="weather-app-project"
            style="height: 16rem"
          />
          <div class="card-body">
            <h5 class="card-title">Angular Weather-App</h5>
            <p class="card-text">
              Project Goal: via API call, display on the screen a search page
              where you can type the name of the city where you want to know the
              weather news, or you can always search for the city you want by
              entering the latitude and longitude directly.
            </p>
            <a
              href="https://github.com/PaoloGippa/its-angular-1"
              target="_blank"
              ><p class="card-text">Go to github</p></a
            >
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >Paolo Silvio Vittorio Gippa 2023 &copy; &reg;</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row">
    <button
      type="button"
      routerLink="../portfolio-alessandro"
      class="btn btn-primary mb-5 mx-auto"
      style="margin-top: 10rem"
    >
      Go to Alessandro
    </button>
  </div>
</section>