/*.table-group-divider > tr > td {
    border-top: none;
}

@media screen and (max-width: 576px) {
    .table-responsive {
      overflow-x: auto;
    }
}*/

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 20px;
  text-align: center;
}

.mat-column-email {
  text-align: center;
  font-style: italic;
}

.mat-column-phone {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.mat-column-addresses {
  font-style: italic;
  text-align: center;
}

.mat-column-vat {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.mat-column-country {
  width: 32px;
  text-align: center;
}

.container {
  margin: 20px;
}

mat-form-field {
  margin-bottom: 10px;
}