.hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
.hoverLight:hover{
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.hoverLightForCards:hover{
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 3px;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.verticalDivider{
  height: 30vh;
}
.verticalDividerShort{
  height: 25vh;
}