<link rel="stylesheet" href="companies.component.css">
<div class="border border-3 border-primary rounded" style="margin: 80px;">
  <div class="table-responsive" style="margin: 80px;">   <!--name, email, vat, phone, country, addresses[0].street-->
    <div class="container" style="margin: 40px; width: 30rem;">
    <div class="input-group">
    <input class="form-control border border-primary" id="usersfilter" placeholder="Name..." [(ngModel)]="searchTermByName">
    <button class="btn btn-primary" type="submit" (click)="filterCompaniesByName(searchTermByName)">Search</button>
    <!-- <input class="form-control border border-primary" id="usersfilter" placeholder="Name..." [(ngModel)]="searchTerm">
    <button class="btn btn-primary" type="submit" (click)="filterUsers(searchTerm)">Search</button>-->
    </div>
    </div>
    <div class="container" style="margin: 40px; width: 30rem;">
      <div class="input-group">
      <input class="form-control border border-primary" id="usersfilter" placeholder="Email... " [(ngModel)]="searchTermByEmail">
      <button class="btn btn-primary" type="submit" (click)="filterCompaniesByEmail(searchTermByEmail)">Search</button>
      </div>
      </div>
      <div class="container" style="margin: 40px; width: 30rem;">
        <div class="input-group">
        <input class="form-control border border-primary" id="usersfilter" placeholder="Vat..." [(ngModel)]="searchTermByVat">
        <button class="btn btn-primary" type="submit" (click)="filterCompaniesByVat(searchTermByVat)">Search</button>
        </div>
        </div>
        <div class="container" style="width: 30rem; border: solid red;">
        <div class="container" style="margin: 40px; width: 30rem;">
          <div class="input-group">
          <input class="form-control border border-primary" id="usersfilter" placeholder="Phone..." [(ngModel)]="searchTermByPhone">
          <button class="btn btn-primary" type="submit" (click)="filterCompaniesByPhone(searchTermByPhone)">Search</button>
          </div>
          </div>
          <div class="container" style="margin: 40px; width: 30rem;">
            <div class="input-group">
            <input class="form-control border border-primary" id="usersfilter" placeholder="Country..." [(ngModel)]="searchTermByCountry">
            <button class="btn btn-primary" type="submit" (click)="filterCompaniesByCountry(searchTermByCountry)">Search</button>
            </div>
            </div>
            <div class="container" style="margin: 40px; width: 30rem;">
              <div class="input-group">
              <input class="form-control border border-primary" id="usersfilter" placeholder="Addresses..." [(ngModel)]="searchTermByAddresses">
              <button class="btn btn-primary" type="submit" (click)="filterCompaniesByAddresses(searchTermByAddresses)">Search</button>
              </div>
              </div>
        </div>
        <button class="btn btn-primary" type="submit" (click)="resetCompaniesFilters()">Reset</button>
   <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Vat</th>
        <th scope="col">Phone</th>
        <th scope="col">Country</th>
        <th scope="col">Addresses</th>
      </tr>
    </thead>
    <tbody class="table-group-divider" style="border-top-color: #0d6efd">
      <tr *ngFor="let Companies of CompaniesDisplay.data">
        <th scope="row">{{Companies.id}}</th>
        <td>{{Companies.name}}</td>
        <td>{{Companies.email}}</td>
        <td>{{Companies.vat}}</td>
        <td>{{Companies.phone}}</td>
        <td>{{Companies.country}}</td>
        <td>{{Companies.addresses[0].street}}</td>
      </tr>
    </tbody>
   </table>
  </div>
</div>