<style>
  .responsive-image {
    max-width: 15%;
    height: block;
  }

  .modal-content {
  max-height: 500px; /* Imposta l'altezza massima della modale */
}

.accordion-panel {
  width: 100%; /*larghezza accordion 100%*/
}
</style>

<div class="modal-content">
  <mat-tab-group>
    <mat-tab label="COMPANY INFORMATION"> <mat-expansion-panel hideToggle class="accordion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Company Information
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description>
          {{panelOpenState ? '' : ''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <h2>Company Information</h2>
        <p>The name is: {{data.name}}</p>
        <p>The email is: {{data.email}}</p>
        <p>The vat is: {{data.vat}}</p>
        <p>The phone number is: {{data.phone}}</p>
        <p>The country is: {{data.country}}</p>
        <div *ngFor="let address of data.addresses;">
          <p>Street: {{address.street}}</p>
          <p>StreetName: {{address.streetName}}</p>
          <p>Building Number: {{address.buildingNumber}}</p>
          <p>City: {{address.city}}</p>
          <p>ZipCode: {{address.zipcode}}</p>
          <p>Country: {{address.country}}</p>
          <p>County_Code: {{address.county_code}}</p>
          <p>Latitude: {{address.latitude}}</p>
          <p>Longitude: {{address.longitude}}</p>
        </div>
        <p>The website is: {{data.website}}</p>
        <img [src]="data.image" class="responsive-image">
      </div>
    </mat-expansion-panel>
   </mat-tab>
    <mat-tab label="CONTACT INFORMATION"> <mat-accordion>
      <mat-expansion-panel hideToggle class="accordion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact Information
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-description>
            {{panelOpenState ? '' : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <h2>Contact Information</h2>
          <p>The firstname is: {{data.contact.firstname}}</p>
          <p>The lastname is: {{data.contact.lastname}}</p>
          <p>The email is: {{data.contact.email}}</p>
          <p>The phone is: {{data.contact.phone}}</p>
          <p>The birthday is: {{data.contact.birthday}}</p>
          <p>The gender is: {{data.contact.gender}}</p>
          <p>The street is: {{data.contact.address.street}}</p>
          <p>The streetName is: {{data.contact.address.streetName}}</p>
          <p>The building number is: {{data.contact.address.buildingNumber}}</p>
          <p>The city is: {{data.contact.address.city}}</p>
          <p>The zipcode is: {{data.contact.address.zipcode}}</p>
          <p>The country is: {{data.contact.address.country}}</p>
          <p>The county_code is: {{data.contact.address.county_code}}</p>
          <p>The latitude is: {{data.contact.address.latitude}}</p>
          <p>The longitude is: {{data.contact.address.longitude}}</p>
          <p>The website is: {{data.contact.website}}</p>
          <img [src]="data.contact.image" class="responsive-image">
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    </mat-tab>
    <mat-tab label="DATA CHANGES"> <mat-accordion>
      <mat-expansion-panel hideToggle class="accordion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Data Changes 
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-description>
            {{panelOpenState ? '' : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <h1>Input to enter</h1>
          <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="newName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="newEmail">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Vat:</mat-label>
            <input matInput type="number" placeholder="VAT" [(ngModel)]="newVat">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone:</mat-label>
            <input matInput placeholder="Phone" pattern="+[0-9]{10,}" [(ngModel)]="newPhone">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Country:</mat-label>
            <input matInput placeholder="Country" [(ngModel)]="newCountry">
          </mat-form-field>
        
          <button mat-button color="primary" (click)="patchCompany()">Save Changes</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>