<link rel="stylesheet" href="./portfolio-alessandro.component.css" />
<section class="d-flex justify-content-center">
  <div class="d-flex flex-column w-50 align-items-start pt-5 ps-4 mt-5">
    <p class="display-2 ms-5">I'm Alessandro Zaza</p>
    <hr class="w-50 ms-5" />
    <p class="ms-5 text-start w-50">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>
  </div>

  <div
    class="col-md-6 col-lg-5 col-xl-5 col-xxl-5 mt-5 w-25"
    style="height: 35vh"
  >
    <div class="img2 position-relative mx-auto">
      
  <div class="backgroundElement position-absolute z-0 end-0"></div>
      <img
        style="
          position: absolute;
          top: 0%;
          display: block;
          z-index: 1;
          width: 35vh;
          height: 35vh;
          border-radius: 50%;
          background-color: rgb(221, 197, 178);
          margin-top: 0px;
        "
        src="../../../assets/portraits/portrait-ale-nobg.png"
        routerLink="../portfolio-alessandro"
        alt=""
      />

      <div
        style="
          position: absolute;
          z-index: 0;
          top: 0%;
          left: 60.5%;
          width: 25vh;
          height: 25vh;
          border-radius: 50%;
          border: 7px solid rgb(99, 148, 223);
          background-color: rgb(99, 148, 223);
        "
      >
        <img
          style="
            position: absolute;
            top: -3%;
            left: -3%;
            display: block;
            z-index: 1;
            width: 25vh;
            height: 25vh;
            border-radius: 50%;
          "
          src="../../../assets/portraits/paolo-portrait.jpg"
          routerLink="../portfolio-paolo"
          alt=""
        />
      </div>
    </div>
  </div>
</section>



<div class="d-flex mt-5">
  <button
    type="button"
    routerLink="../portfolio-paolo"
    class="btn btn-primary mb-5 mx-auto"
  >
    Go to Paolo
  </button>
</div>


<section>
  <div class="card-group mx-md-5">
      <div class="card mx-5">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">TvMaze-App</h2>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 2 months ago</small>
        </div>
      </div>
      <div class="card mx-5">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Portfolio</h2>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 1 week ago</small>
        </div>
      </div>
      <div class="card mx-5">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">AppDrinks</h2>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 months ago</small>
        </div>
      </div>
    </div>
</section>