* {
  box-sizing: border-box;
}

section {
  width: 100%;
  background: linear-gradient(45deg, #3f84e5, #f0e2e7, #b20d30);
}

/*russian violet: 3a015c*/
/*palatinate: 4f0147*/
/*darkpurple: 35012c*/

/*Palette1: 45deg, #3f84e5, #f0e2e7, #b20d30*/
