<header>
  <div class="jumbotron jumbotron-fluid" style="background-color: #7caff8">
    <div class="container">
      <h1 class="display-4 text-center">Paolo Gippa</h1>
      <p class="lead text-center">
        Welcome to my page, this is the place where you can see my work and know
        a little more about me!
      </p>
    </div>
  </div>
</header>
<div class="container text-center">
  <div class="row">
    <div class="col col-lg-12 text-center">
      <h2>About Me: Paolo(titolo provvisorio e fa schifo)</h2>
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-lg-4">
      <picture>
        <img
          src="./assets/portraits/paolo-portrait.jpg"
          alt="img-thumbnail rounded flex-start"
        />
      </picture>
    </div>
    <div class="col-lg-8">
      <p class="text-black">
        Hi Everyone, my name is Paolo, and I'm a junior front end developer. I
        consider myself a very active person and willing to take on every new
        challenge! ciao
      </p>
    </div>
  </div>
</div>
